.modalContainer-backdrop{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%
    
}
.modalContainer{
    position: relative;
    margin: auto;
    background-color: rgb(225, 221, 221);
    width: 20vw;
    height: 15vh;
    padding: 15px;
}

.close{
    float: right;
    font-style: oblique;
}